/* Banner Image */
#zBanner {
	background: url('../img/abu_profile-logo.jpg') no-repeat scroll top left;
	left: 19.8%;
	top: 0;
	width: 100%;
	height: 15%;
	z-index: 1;
   	display: block;  
	position: fixed; 
	padding:75;
}
.pop-div .popover-content {
    max-width: 310px;
    height: 250px;
    overflow-y:scroll;
}
